 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
 }


 .search {
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
 }

 .search img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
 }

 .search .content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: #FFF;
 }

 .search h1 {
    font-weight: 600;
    font-size: 2.65rem;
 }

 .search p {
    font-size: 1.2rem;
    margin-top: 4px;
    color: rgba(255,255,255,0.85);
 }

 .search .search-box {
    height: 55px;
    margin: 15px 10px;
    position: relative;
 }

 .search-box i {
    position: absolute;
    left: 20px;
    top: 50%;
    font-size: 1.4rem;
    color: #8d8d8d;
    transform: translateY(-50%);
 }

 input, button, i {
    outline: none;
    border: none;
    border-radius: 5px;
 }

 .search-box input {
    width: 100%;
    height: 100%;
    padding-left: 55px;
    font-size: 1.1rem;
 }

 .gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .gallery .images {
    margin-top: 20px;
    max-width: 95%;
    gap: 15px;
    columns: 5 340px;
 }

 .images .card {
    display: flex;
    list-style: none;
    margin-bottom: 14px;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
 }

 .images .card .details {
    position: absolute;
    bottom: -100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    width: 100%;
    transition: bottom 0.1s ease;
    padding: 15px 20px;
 }

 .images .card:hover .details {
    bottom: 0;
 }

 .photographer {
    color: #FFF;
    display: flex;
    align-items: center;
 }

 .card .details button {
    padding: 3px 8px;
    font-size: 1.1rem;
    background: #FFF;
    cursor: pointer;
 }

 .photographer i {
    font-size: 1.4rem;
    margin-right: 10px;
 }

 .details .photographer span {
    font-size: 1.05rem;
 }


 .images img {
    width: 100%;
    border-radius: 4px;
 }

 .gallery .load-more {
    margin: 50px 0;
    font-size: 1.2rem;
    padding: 12px 27px;
    color: #FFF;
    cursor: pointer;
    background: #86adcb;
}

.lightbox {
   position: fixed;
   z-index: 5;
   width: 100%;
   height: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.65);
}

.lightbox .wrapper {
   position: absolute;
   left: 50%;
   top: 50%;
   width: 100%;
   padding: 20px;
   max-width: 850px;
   background: #FFF;
   border-radius: 5px;
   transform: translate(-50%, -50%);
}

.wrapper .lightbox-header {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.lightbox-header .photographer {
   color: #333;
}

.lightbox-header .photographer i {
   font-size: 1.7rem;
}

.lightbox-header .photographer span {
   font-size: 1.2rem;
}

.lightbox-header .buttons i {
   height: 40px;
   width: 40px;
   font-size: 1.2rem;
   color: #FFF;
   background: #86adcb;
   text-align: center;
   line-height: 40px;
   display: inline-block;
}

.buttons i:last-child {
   margin-left: 10px;
   background: #6c757d;
}

.preview-img {
   display: flex;
   margin-top: 25px;
   justify-content: center;
}

.wrapper .preview-img .img {
   max-height: 65vh;
   max-width: 90vh;
   display: flex;
   justify-content: center;
}

.preview-img .img img {
   max-width: 100%;
   height: 100%;
   object-fit: contain;
}